/* A rudimentary "reset" */
* { margin: 0; padding: 0; }

/* Make HTML 5 elements block level */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* debug coloring */
#container {
  background: #fee;
}

#container {
  width: 700px;
  margin: auto;
}

/* Navigating the ol' dusty trail */
nav {
  font-family: Futura, Calibri, 'Lucida Sans Unicode', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  margin: 10px auto;
}

nav a {
  color: #333;
  text-decoration: none;
  margin: 0 12px;
}
nav a:hover {
  border-bottom: 1px dotted #333;
}

