/* A rudimentary "reset" */
* { margin: 0; padding: 0; }

/* Make HTML 5 elements block level */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* debug coloring */
#container {
  background: #fee;
}

#container {
  width: 700px;
  margin: auto;
}

/* Navigating the ol' dusty trail */
nav {
  font-family: Futura, Calibri, 'Lucida Sans Unicode', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin: 10px auto;
}
nav ul {
  display: inline;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 8px;
}
